{% extends 'base.html.twig' %}


{% block body %}
<main>
    <div class="add">
        {########################################### form for zone
        #####################################################}
        <div class="card zone">
            <form action="" method="POST">
                <div class="card-body">
                    <h5 class="card-title">Zone existante</h5>
                    <ul>
                        {% for zone in zones %}
                        <li>{{ zone['name'] }} <a href="add.php?id_zone={{ zone['id'] }}" type="submit">⛔</a></li>
                        {% endfor %}
                    </ul>
                    {% for page in pages %}
                    <a href="/add.php?zone={{ page }}">/ {{ page }} /</a>
                    {% endfor %}
                </div>
                <h6>Ajouter une Zone</h6>
                <input type="text" name="new_zone" placeholder="Nom">
                <p></p>
                <h6>{{ erreur }}</h6>
                <button class="btn btn-primary">Ajouter</button>
            </form>
        </div>
        {########################################### END form for zone
        #####################################################}
        {########################################### form for planche
        #####################################################}
        <div class="card planche_flex">
            <form action="" method="POST">
                <div class="card-body">
                    <h5 class="card-title">PLanche existante</h5>
                    <ul>
                        {% for planche in planches %}
                        <li>{{ planche['name'] }} <a href="add.php?id_planche={{ planche['id'] }}" type="submit">⛔</a></li>
                        {% endfor %}
                    </ul>
                    {% for planche_page in planche_pages %}
                    <a href="/add.php?planche={{ planche_page }}">/ {{ planche_page }} /</a>
                    {% endfor %}
                </div>
                <h6>Ajouter une Planche</h6>
                <input type="text" name="new_planche" placeholder="Nom">
                <p></p>
                <button class="btn btn-primary">Ajouter</button>
            </form>
        </div>
        {########################################### END form for planche
        #####################################################}
        {########################################### form for legume
        #####################################################}
        <div class="card legume">
            <form action="" method="POST">
                <div class="card-body">
                    <h5 class="card-title">Legume existant</h5>
                    <ul>
                        {% for legume in legumes %}
                        <li>{{ legume['name'] }}<a href="/add.php?id_legume={{ legume['id'] }}" type="submit">⛔</a></li>
                        {% endfor %}
                    </ul>
                    {% for legume_page in legume_pages %}
                    <a href="/add.php?legume={{ legume_page }}">/ {{ legume_page }} /</a>
                    {% endfor %}
                </div>
                <h6>Ajouter un Legume</h6>
                <input type="text" name="new_legume" placeholder="Nom">
                <input type="text" name="new_variete" placeholder="variété">
                <h6>{{ erreur }}</h6>
                <button class="btn btn-primary">Ajouter</button>
            </form>
        </div>
        {########################################### END form for legume
        #####################################################}
        {########################################### form for serre
        #####################################################}
        <div class="card serre_flex">
            <form action="" method="POST">
                <div class="card-body">
                    <h5 class="card-title">Serre existante</h5>
                    <ul>
                        {% for serre in serres %}
                        <li>{{ serre['name'] }}<a href="/add.php?id_serre={{ serre['id'] }}" type="submit">⛔</a></li>
                        {% endfor %}
                    </ul>
                    {% for serre_page in serre_pages %}
                    <a href="/add.php?serre={{ serre_page }}">/ {{ serre_page }} /</a>
                    {% endfor %}
                </div>
                <h6>Ajouter une Serre</h6>
                <input type="text" name="new_serre" placeholder="Nom">
                {# <input type="text" name="nb_planche" placeholder="nombre de planches">  #}
                <p></p>
                <button class="btn btn-primary">Ajouter</button>
            </form>
        </div>
        {########################################### END form for serre
        #####################################################}
        {########################################### form for tache
        #####################################################}
        <div class="card tache">
            <form action="" method="POST">
                <div class="card-body">
                    <h5 class="card-title">Tache existante</h5>
                    <ul>
                        {% for tache in taches %}
                        <li>{{ tache['name'] }}<a href="/add.php?id_tache={{ tache['id'] }}" type="submit">⛔</a></li>
                        {% endfor %}
                    </ul>
                    {% for tache_page in tache_pages %}
                    <a href="/add.php?tache={{ tache_page }}">/ {{ tache_page }} /</a>
                    {% endfor %}
                </div>
                <h6>Ajouter une Tache</h6>
                <input type="text" name="new_tache" placeholder="Nom">
                <p></p>
                <button class="btn btn-primary">Ajouter</button>
            </form>
        </div>
        {########################################### END form for tache
        #####################################################}
    </div>
    <div class="retour">
        <form action="index.php">
            <button class="btn btn-primary">retour</button>

        </form>
    </div>
</main>

{% endblock %}