{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
{% endblock %}

{% block script %}
    <script src="js/main.js" defer></script>
{% endblock %}

    {% block body %}
    <div class="container">
        <form method="POST" action="" name="formulaire" class="select_zone">
            <select class ="form-control zone" name="zone">
                <option>Selectionnez une zone</option>
                {% for zone in zones %}
                <option>{{ zone }}</option>
                {% endfor %}
                
            </select>

            <select class="form-control planche" name="planche">
                <option>Selectionnez une planche</option>
                {% for planche in planches %}
                <option>{{ planche }}</option>
                {% endfor %}
            </select>

            <select class="form-control serre" name="serre">
                <option>Selectionnez une serre</option>
                {% for serre in serres %}
                <option>{{ serre }}</option>
                {% endfor %}
            </select>

            <select class="form-control legume" name="legume">
                <option>Selectionnez un legume</option>
                {% for legume in legumes %}
                <option>{{ legume }}</option>
                {% endfor %}
            </select>

            <select class="form-control tache" name="tache">
                <option>Selectionnez une tache</option>
                {% for tache in taches %}
                <option>{{ tache }}</option>
                {% endfor %}
            </select>

            <div class="form-check preparation">
                <input class="form-check-input check" type="checkbox" name="manuel" value="Manuel" id="defaultCheck1"> Manuel
    
                <input class="form-check-input check" type="checkbox" name="traction" value="Traction" id="defaultCheck2"> Traction
            </div>


            <div class="form-check recolte">
                <input class="form-check-input" type="checkbox" name="KG" value="kg" id="defaultCheck3"> KG
                <input class="form-check-input" type="checkbox" name="Bottes" value="bottes" id="defaultCheck4"> Bottes
                <input class="form-check-input" type="checkbox" name="Unité" value="Unite" id="defaultCheck5"> Unité
            </div>

            <div class="form-check couvert">
                <input class="form-check-input" type="checkbox" name="muchage" value="muchage" id="defaultCheck6"> Muchage
                <input class="form-check-input" type="checkbox" name="desherbage" value="desherbage" id="defaultCheck7"> desherbage
                <input class="form-check-input" type="checkbox" name="bachage" value="bachage" id="defaultCheck8"> bachage
            </div>

            <button type="submit" class="btn btn-primary">Confirmer</button>
        </form>

        <p>{{ erreur }}</p>
    </div>

    <div class="container modifier_ajouter">
        <form action="add.php">
            <button type="submit" class="btn btn-primary">Ajouter / supprimer</button>
        </form>
        
    </div>

    {% endblock %}
