{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
    <h1>Show Rotation</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ZONE</th>
                <th scope="col">Numéro Serre</th>
                <th scope="col">Numéro planche</th>
                <th scope="col">Légume</th>
                <th scope="col">Tache</th>
            </tr>
        </thead>
        <tbody>
            {% for rotation in rotations %}
            <tr>
                <th scope="row">{{ rotation['id'] }}</th>
                <td>{{ rotation['zone'] }}</td>
                {% if rotation['number_serre'] == null %}
                <td>X</td>
                {% else %}
                <td>{{ rotation['number_serre'] }}</td>
                {% endif %}
                {% if rotation['number_planche'] == null %}
                <td>X</td>
                {% else %}
                <td>{{ rotation['number_planche'] }}</td>
                {% endif %}
                <td>{{ rotation['legume'] }}</td>
                <td>{{ rotation['tache'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="retour">
    <form action="index.php">
        <button class="btn btn-primary"> Retour</button>
    </form>
</div>

{% endblock %}