{{ form_start(form) }}

    <div class="form-group">
        <label>Nom de la Rotation</label>
        {{ form_widget(form.name) }}
    </div>

    <div class="form-group">
        <label>Date</label>
        {{ form_widget(form.date) }}
    </div>

    <div class="form-group">
        <label>Selectionnez une Zone</label>
        {{ form_widget(form.zone , { 'attr': {'class': 'zone'} }) }}
    </div>

    <div class="form-group planche">
        <label>Selectionnez une planche</label>
        {{ form_widget(form.planche, { 'attr': {'class': 'required_planche'} }) }}
    </div>

    <div class="form-group serre">
        <label>Selectionnez une serre</label>
        {{ form_widget(form.serre, { 'attr': {'class': 'required_serre'} }) }}
    </div>

    <div class="form-group">
        <label>Selectionnez un legume</label>
        {{ form_widget(form.legume) }}
    </div>

    <div class="form-group">
        <label>Selectionnez une tache</label>
        {{ form_widget(form.tache) }}
    </div>

    <div class="form-group">
        
    </div>
    
    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
